.CompleteLanding{
    background-color:#636e72 ;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}
.carousel-container {
  width: 100%;
}


@media (min-width: 344px) { /* Medium screens and up */
    .carousel-container {
      max-width: 100%;
    }
  }
@media (min-width: 768px) { /* Medium screens and up */
  .carousel-container {
    max-width: 100%;
  }
}

@media (min-width: 992px) { /* Large screens and up */
  .carousel-container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) { /* Extra-large screens and up */
  .carousel-container {
    max-width: 100%;
  }
}
.formStyle{
    border-radius: 1.5rem;
    border-color: rgb(43, 220, 226);
    border-width: .2rem;
}